.position {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.main {
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
   
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 46px;

}

.btn-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    text-align: center;
    background: #00A651;
    border-radius: 10px;
    width: 200px;
    height: 56px;
    padding: 13px 23px ;
    margin: 30px;
    cursor: pointer;
}